.fgpReactMap{
    height: 300px;
    border: 1px solid #bfbfbf;
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: 0px 10px 20px var(--fgReact_V0_cmpntShadowGrey);
}

.ol-zoom-in, .ol-zoom-out{
    font-size: 0.6em !important;
}

.ol-overviewmap{
    bottom: 0 !important;
    left: 0 !important;
    font-size: 0.6em !important;
}

.ol-zoom{
    top:0 !important;
    left:0 !important;
}
.ol-attribution{
    display: none !important;
}
.noMapData{
    height: 300px;
    line-height: 300px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--fgReact_V0_bcrmbGrey);
}