.fgpReactMap{
  height: 300px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0px 10px 20px var(--fgReact_V0_cmpntShadowGrey);
}

.ol-zoom-in, .ol-zoom-out{
  font-size: 0.6em !important;
}

.ol-overviewmap{
  bottom: 0 !important;
  left: 0 !important;
  font-size: 0.6em !important;
}

.ol-zoom{
  top:0 !important;
  left:0 !important;
}
.ol-attribution{
  display: none !important;
}
.noMapData{
    height: 300px;
    line-height: 300px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--fgReact_V0_bcrmbGrey);
}

.fgpReactMapLayer{
    position: absolute;
    right: 0;
    width: 100px;
    z-index: 999;
    opacity: 0.8;
    top: 4px;
    font-size: 0.8rem;
    line-height: 30px;
    height: fit-content;
    right: 19px;
    background: var(--fgReact_v0_pureWhite);
    border: 1px solid var(--fgReact_v0_cmpntBorderGrey);
    box-sizing: border-box;
    text-align: left;
    padding-left: 8px;
    border-radius: 1px;
    box-shadow: 0px 10px 20px var(--fgReact_V0_cmpntShadowGrey);
}
