.fgReact_home {
    background: var(--fgReact_v0_dashboardGrey);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: var(--fgReact_v0_boldBlack);
    z-index: 1;
    overflow-x: hidden;
    padding: 70px 0 0 70px;
  }
.fgReact_home-ext {
    width: calc(100vw - 140px);
    position: relative;
    left:140px;
}
  
  
  
  /* Mobile */
  @media screen and (max-width: 768px) {
   

  }