/* TOP NAV STYLES START */
.closedheader{
    position: fixed;
    top: 0;
    left: 70px;
    width: calc(100% - 70px);
    background: var(--fgReact_v0_pureWhite);
    border-bottom: 1px solid var(--fgReact_v0_borderGrey);
    height: 70px;
    transition: 0.2s ease;
    user-select: none;
}

.openheader{
    left: 180px !important;
    width: calc(100% - 180px) !important;
    user-select: none;
}

.companyLogo{
    height: 100%;
    user-select: none;
    width: 100%;
    text-align: left;
    color: var(--fgReact_v0_boldBlack);
    float: left;
    line-height: 70px;
    padding-left: 70px;
    overflow: hidden;
}

.fgpToggleDash:active{
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12)
}
.fgpToggleDash{
    display: none;
    padding: 6px 16px;
    font-size: 12px;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 20px;
    outline: none !important;
    -webkit-tap-highlight-color: none;
    color: #fff;
    background-color:var(--fgReact_V0_boldGreen);
    border-radius: 4px;
    letter-spacing: 0.02857em;
    margin-top: 15px;
    text-transform: uppercase;
    float: right;
    margin-right: 15px;
}
/* TOP NAV STYLES END */


