.fgReact_SideNavigationItem{
    text-align: center;
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    transition: 0.2s ease 0s;
}

.fgReact_SideNavigationItem-open{
    width: 180px;
}

.fgReact_SideNavigationItem a{
    color: var(--fgReact_v0_boldBlack);
    text-decoration: none !important;
}

.fgReact_SideNavigationItem a:hover{
    color: var(--fgReact_V0_boldGreen);
}

.fgReact_SideNavigationItemIcon{
    display: inline-block;
    width: 40px;
    transition: 0.2s ease 0s;
    cursor: pointer;
    float: left;
    padding-left: 22px;
}

.fgReact_SideNavigationItemIcon-active{
    padding-left: 18px !important;
}

.fgReact_SideNavigationItemIcon:hover{
    transform: scale(1.09);
}


.fgReact_SideNavigationItem-active{
    border-left: 4px solid;
    border-color: var(--fgReact_V0_boldGreen);
    padding-right: 4px;
    background: #89af3417;
}

.fgReact_SideNavigationItemIconExtension{
    width: 130px;
    display: inline-block;
    font-size: 12px;
    text-align: left;
    padding-left: 14px;
    -webkit-animation: App-links-fade-in 1s none; /* Safari 4.0 - 8.0 */
    animation: App-links-fade-in 1s none;
}