.centerSpinner{
    height: 60px;
    font-size: 20px;
    margin: 0 auto;
}


.customScrollBar-cont {
    position: fixed;
    top: calc(100vh-80px);
    height: 20px;
    width: calc(100vw - 130px);
    text-align: center;
    z-index: 999999999;
    top: calc(100vh - 20px);
    padding: 0 30px;
    /* background-color: #f1f1f1; */
  }
  
  .customScrollBar{
    width: calc(100% - 0px);
    /* border: 1px solid rgba(0,0,0,0.1); */
    height: 20px;
    /* padding-top: 1.1px; */
    box-shadow: 0px 10px 20px rgba(37, 168, 168, 0.07);
  }
  
  .m-0-a{
    margin: 0 auto
  }
  
  .customSlider {
    -webkit-appearance: none;
    width: 96%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    position: relative;
    opacity: 0.7;
    transition: opacity .2s;
    top: -10px;
  }
  
  .customSlider:hover {
    opacity: 1;
  }
  
  .customSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #969696;
    cursor: pointer;
  }
  
  .customSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #969696;
    cursor: pointer;
  }
  
  .customSlider-btn{
    height: 20px;
    width: 2%;
    font-size: 10px;
    position: relative;
    top: -16px;
    outline: none;
    font-weight: 600;
    border: none;
    margin: 0;
    padding:0;
  }
  
  @media only screen and (max-width: 766px) {
    .ResultTable .ReactTable .rt-table {
      overflow-x: scroll !important;
    }
  
    .customScrollBar-cont{
      /* display: none !important; */
    }
  
  }
  
  .ResultTable .ReactTable .rt-table {
    overflow-x: hidden;
  }

  .importantHidden{
      display: none !important;
  }