.whitebg{
  background-color: white;
}

.loginContainer{
  background-color: var(--fgReact_v0_pureWhite);
 }
 
 .loginInner{
   background-color: var(--fgReact_v0_pureWhite);
 }
 
 .loginForm{
   background: var(--fgReact_v0_pureWhite);
   border: 1px solid var(--fgReact_v0_cmpntBorderGrey);
   box-sizing: border-box;
   border-radius: 1px;
   box-shadow: 0px 10px 20px var(--fgReact_V0_cmpntShadowGrey);
   padding-left: 26px !important;
   padding-right: 26px !important;
   padding-top: 35px;
   padding-bottom: 35px;
 }
 .titlelogin{
  text-align: center;
  font-size: 24px;
  margin-top: 10%;
 }
 

 .whiteText{
   color:white !important; 
 }
 
 .loginImage{
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   margin: 0 auto;
   height: 350px;
   width: 350px;
 }