.fgReact_assetDataContainer {
  min-height: 20px;
  /* height: fit-content; */
  background: var(--fgReact_v0_pureWhite);
  border: 1px solid var(--fgReact_v0_borderGrey);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 1px;
  box-shadow: 0px 10px 20px var(--fgReact_V0_cmpntShadowGrey);
  margin-bottom: 40px;
}

.fgReact_assetDataContainer:first-of-type{
  margin-top:38px
}

.t-alignLeft{
  text-align: left;
}

ul.info_r_list{
  text-align: left;
  padding-right: 0px;
  list-style-type: none;
  padding-top: 20px;
}

details.info_r_list{
  text-align: left;
  padding-right: 0px;
  outline: none;
  list-style-type: none;
  padding-top: 20px;
}

.info_o_none{
  outline: none;
}

.info_o_none:focus{
  outline: none !important;
}

ul.info_r_list li{
  padding-bottom: 5px;
}

.fgReact_assetName{
  font-size: 28px;
  color:  var(--fgReact_V0_boldBlack);
  width: 100%;
}

.info_r{
  font-size: 16px;
}

.fgReact_assetLabel{
  color: darkgray 
}
  
  
  /* Mobile */
  @media screen and (max-width: 768px) {
   

  }